.docentenprofiel {
    .profile-dashboard {
        background-color: white;
        border-radius: 10px;

        .profile-holder{

            .profile-img-wrapper{
                background-color: transparent;
                border: solid 2px;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

            .profile-info{
                border-top: solid 2px black;
            }

            .cv-button{
                border-radius: 10px;
                background-color: #003581;
                width: 25%;
                
                a{
                    color: white;
                }
            }

        }
    }

    .stage-info {
        background-color: white;
        border-radius: 10px;
    }

    .file-holder {
        background-color: white;
        border-radius: 10px;
    }
}
