//de container links boven
// ==========================================================================================
.container_profiel_docent{
    height: 400px;
    background-color:  #ffffff;
    border-radius: 20px;
}


.profiel_foto{
    background-color: #A9ABAA;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.info_persoon{
    border-top: 1px solid ;
    margin: 11%;
}


.cv_block{
    width: 30%;
    text-align-last: center;
    background-color: #de0000;
    margin-left: auto;
    margin-right: auto;

    a{
        color: black;
    }
}


//de container rechts boven
// ===========================================================================

.container_informatie_stage {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px; 
  
}

.aanvragen_goedkeuring{
    background-color: #A9ABAA;
    height: 330px;
    width: 280px;
    border-radius: 5%;

    ul {
        list-style-type: none;
    }

}


.Text-info {
    height: 70%;
    li {
        color: black;
    }
}

.button-progress {
    text-align-last: center;
}


.huidig_stagebedrijf{
    background-color: #A9ABAA;
    height: 30px;
    width: 30px;
    border-radius: 5%;
}

.button-progress{
    width: 50%;
    text-align-last: center;
    background-color: #de0000;
    margin-left: auto;
    margin-right: auto;

    a{
        color: black;
    }
}



// de container onder
// ================================================================================


.container_ingeleverde_documenten {
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 20px; 
}

.ingeleverd_documenten{
    background-color: #A9ABAA;
    border-radius: 20px;
}


