.documentverify{
    th{
        padding: 0;
    }

    td{
        padding: 0;
    }
    
    .pok-keuring{
        background-color: white;
        border-radius: 10px;
    }

    .document-goedkeuring{
        background-color: white;
        border-radius: 10px;
    }
}