.makevacbutton {
    display: inline-block;
    background-color: #de0000;
    border-radius: 20px;
    width: 250px;
    height: 50px;
}
.makevacbtntext {
    align-items: center;
    margin-top: 12px;
  }