.makevacbutton {
    display: inline-block;
    background-color: #de0000;
    border-radius: 20px;
    width: 240px;
    height: 40px;
}
.makevacbtntext {
    align-items: center;
    margin-top: 9px;
  }