.documentdrop {
    background-color: #ffffff;
}

#drop_zone {
    border: 1px solid black;
    width: 80%;
    height: 400px;
    margin: auto;
    display: flex;
}

.button-wrapper {

    display: flex;
    z-index: 11;
    justify-content: space-between;
    align-items: center;

    .submit-file {
        background-color: #de0000;
        border: none;
        border-radius: 10px;
        color: white;
        width: 33%;
        height: 55px;
    }
}

button.dz-button {
    display: none;
}

.dropzone {
    background: #e3e6ff;
    border-radius: 13px;
    height: 300px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted #1833FF;
    margin-top: 50px;
    overflow: auto;

    svg {
        display: none;
    }
}
