ul{
    list-style: none;
}

.bluclassbutton{
    background-color: #003581;
    border-radius: 10px;
    color: white;
    border: none;
    width: 50%;
}

.redclassbutton{
    background-color: #de0000;
    border-radius: 10px;
    color: white;
    border: none;
    width: 50%;
}

.leerlingoverzicht{
    background-color: white;
    border-radius: 10px;
}