.student{
    background-color: transparent;

    .student-overall{
        background-color: #ffffff;
        border-radius: 10px;
    }

    .document-display{
        background-color: #ffffff;
        border-radius: 10px;
    }

    .appointment-display{
        background-color: #ffffff;
        border-radius: 10px;
    }

    .buttonwrapper{
        width: 100%;

        a{
            color: #ffffff;
        }

        .pok-button{
            display: inline-block;
            background-color: #003581;
            border-radius: 20px;
            width: 200px;
            height: 25px;
        }

        .document-button{
            display: inline-block;
            background-color: #de0000;
            border-radius: 20px;
            width: 200px;
            height: 25px;
        }
    }

    .appointment-display{
        p{
            display: inline-block;
        }
    }
}