.contactbutton {
    display: inline-block;
    background-color: #de0000;
    border-radius: 20px;
    width: 100px;
    height: 35px;
}

.vacsitebutton {
    display: inline-block;
    background-color: #003581;
    border-radius: 20px;
    width: 170px;
    height: 35px;
}